<div class="contenidoVentas">
	<!-- Cabecera -->
    <div class="cabeceraVentas">
        <div class="tituloVenta">
            <h2>COMPRAS</h2>
        </div>

        <div class="navbarVentas">
            <nav class="navbar">
                <a class="link" routerLink="/menu">Volver</a>
            </nav>
        </div>
    </div>


	<main>
		<form (ngSubmit)="crearFactura()">
			<div class='field'>
				<label>Proveedor</label>
				<select [(ngModel)]="facturaCompra.proveedor" [ngModelOptions]="{standalone: true}" required>
					<option  *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.id}}-{{proveedor.nombre}}</option>
				</select>
			</div>
			<div class='field'>
				<label>Producto</label>
				<select [(ngModel)]="facturaCompra.producto" [ngModelOptions]="{standalone: true}" name='producto' required>
					<option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.id}}-{{producto.nombre}}</option>
				</select>
			</div>
			<div class='field'>
				<label>Cantidad</label>
				<input [(ngModel)]="facturaCompra.cantidad" name='Cantidad' type='number' autocomplete />
			</div>

			<div class='field'>
				<label>Fecha</label>
				<input [(ngModel)]="facturaCompra.fecha" name='Fecha' type='date' autocomplete />
			</div>

			<div class="submit">
				<button >
					REGISTRAR COMPRA
				</button>
			</div>
		</form>

		<div class="x">
			<label class="factu-label">FACTURACION</label>
			<table class='factu'> 
				<thead>
				<tr>
					<th  style="width: 200px;" scope="col">Fecha</th>
					<th  style="width: 100px;" scope="col">Id</th>
					<th  style="width: 120px;" scope="col">Id Proveedor</th>
					<th  style="width: 120px;" scope="col">Id Producto</th>
					<th  style="width: 120px;" scope="col">Cantidad</th>
					<th  style="width: 120px;" scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
			<!-- 	<tr *ngFor ="let factura of facturasCompra">
					<td>{{factura.fecha}}</td>
                    <td>{{factura.id}}</td>
                    <td>{{factura.proveedor.id}}</td>
                    <td>{{factura.producto.id}}</td>
                    <td>{{factura.cantidad}}</td>
					<td>{{factura.total}}</td>
				</tr>  -->
					
			</tbody>

			<ul>
				<li *ngFor ="let factura of facturasCompra">{{factura.proveedor}}</li>
			</ul>
			</table>
		</div>
	</main>

        
</div>
