<header class="cabecera">
    
    <div class="logo">
        <img src="../assets/Logo2.png" alt="">
    </div>
               
    <nav class="navbar">
        <a class="link" (click)="openDialog()" style="color:#0a0b0a;"
        onMouseOver="this.style.cssText='color: orange'"        
        onMouseOut="this.style.cssText='color: #0a0b0a'">Login</a>
    </nav>
</header>

<div class="principal">
    <div class="baner_imagen">
        <h1>Antojo Valluno</h1>
        <p>Somos una empresa familiar caleña con más de 25 años de experiencia, brindando a los colombianos una amplia variedad de productos típicos vallunos congelados y precocidos de la mejor calidad y sabor.</p>  
    </div> 
</div>

