<form action=""  class="formulario-proveedor" (ngSubmit)="createProveedor()">

    <div class="titulo">
        <h1>Antojo Valluno</h1>
    </div>

    <div class="contenido-form">

        <div class="inputNombre">
            <input type="text" [(ngModel)]="proveedor.nombre" placeholder="nombre o razon social" id="nombre" name="nombre" required />
        </div>
        <div class="inputNit">
            <input type="number" [(ngModel)]="proveedor.nit"  placeholder="cedula o NIT" id="cedula" name="cedula" required />
        </div>
        <div class="inputCorreo">
            <input type="email" [(ngModel)]="proveedor.email" placeholder="email" id="email" name="email" required />
        </div>
        <div class="inputTelefono">
            <input type="text" [(ngModel)]="proveedor.telefono" placeholder="telefono" id="contrasena" name="contrasena" required />
        </div>
    
        <div class="botonAgregar">
            <button type="submit">Agregar</button>
        </div>

    </div>    
</form> 

