<header class="cabecera">
    
    <div class="logo">
        <img src="../assets/Logo2.png" alt="">
    </div>
               
    <nav class="navbar">
        <a class="link" routerLink="">Cerrar sesión</a>    
    </nav>
</header>
   
<section class="content sau">

    <div class="box-container">
        <a class="box" routerLink="/productos">            
            <i class="fa-brands fa-product-hunt"></i>
            <h3>Productos</h3>
            <p>Gestionar productos</p>
        </a>
         
        <a routerLink="/proveedor" class="box">
            <i class="fas fa-truck"></i>
            <h3>Proveedores</h3>
            <p>Gestionar Proveedores</p>
        </a>
        
        <a class="box" routerLink="/usuarios">
            <i class="fas fa-user"></i>
            <h3>Usuarios</h3>
            <p>Gestionar usuarios</p>
        </a>
            
        <a routerLink="/clientes" class="box">
            <i class="fas fa-suitcase"></i>
            <h3>Clientes</h3>
            <p>Gestionar Clientes</p>
        </a>
    
        <a href="/ventas" class="box">
            <i class="fas fa-receipt"></i>
            <h3>Ventas</h3>
            <p>Consultar registro de ventas</p>
        </a>
        
        
        <a href="/compras" class="box">
            <i class="fas fa-shopping-cart"></i>
            <h3>Compras</h3>
            <p>Realizar compras</p>
        </a>        
    </div>
</section>
